# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# IDE / editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: coverage reports
coverage/
